.calculadora{
    width: 95%;
    max-width: 20rem;
    min-width: 11rem;
    font-family: monospace;
    background-color: gray;
    padding: 0.5rem;
}
.pantalla{
    font-weight: bold;
    font-size: 2rem;
    text-align: end;
    padding: 0.25rem;
    min-height: 3.5rem;
    border: solid whitesmoke 2px;
    margin: 2px 4px 0 4px;
    background-color:chartreuse;
}
.pantallaAnterior{
    text-align: start;
    font-size: 1rem;
}
.contenedorBotones{
    display: flex;
    flex-wrap: wrap;   
    padding-top: 0.5rem;
}
.contenedorBotonesFilaUno,
.contenedorBotonesFilaDos,
.contenedorBotonesFilaTres,
.contenedorBotonesFilaCuatro,
.contenedorBotonesFilaCinco{
    display: flex; 
    width: 100%;  
}
.boton{
    font-size: 1.5rem;
    background-color: whitesmoke;
    padding: 2px 8px 2px 8px;
    margin: 5px;
    border: solid grey 2px;
    color: black;
    align-items: stretch;
    flex-grow: 1;
    text-align: center;
    border-style: outset;
    cursor: pointer;
}
.botonOperacion{
    color: red;
}
.botonExp{
    flex-grow: 2.6;
}
.botonCero{
    flex-grow: 3.2;
}